h1 {
    text-align: center;
    margin: 30px 0;
}

.user {
    background: antiquewhite;
    padding: 1rem;
    border-radius: 0.5rem;
}

.deleteButton {
    border: none;
    outline: none;
    background: red;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

form {
    text-align: center;
    margin-bottom: 50px;
}

form input{
    padding: 5px;
    font-size: 16px;
    width: 300px;
}

form .addButton {
    border: none;
    background-color: green;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
}

form .addButton:hover {
    background: black;
    transition: all 0.4s linear;
}



/* responsive design */
@media screen and (max-width: 1900px) {
    .users {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
        padding: 0 20px;
    }
}

@media screen and (max-width: 992px) {
    .users {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1rem;
        padding: 0 20px;
    }
}

@media screen and (max-width: 768px) {
    .users {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
        padding: 0 10px;
    }
}

@media screen and (max-width: 600px) {
    .users {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
        padding: 0 10px;
    }

    form input{
        width: 200px;
    }

    form .addButton {
        margin-top: 20px;
    }
}